* { margin:0; padding:0; }
::-webkit-scrollbar { display: none; }

body { background: grey; color:white; font:11px Tahoma, sans-serif; }

.relative { position:relative; }
.absolute { position:absolute; }
.txt_center { text-align:center; }
.totale { width:100%; height:100%; }
.fullWidth { width:100%; }

/* MENU */
.interface_bar { height:40px; width:100%; bottom:0px; left:0px; }
.interface_bar_voice { width:40px; height:40px; float:left; line-height:40px; }
.interface_bar_voice:hover { width:40px; height:40px; float:left; line-height:40px; background:grey; }

.window { background:black; color:white; border:1px solid #fff; font-size:12px; }
.closeWindow { top:-30px; right:0px; margin:5px; }
.box { background:grey; overflow-y: scroll; border:1px solid #fff; }
.handle { width:100%; height:30px; line-height:30px; background:blue; color:white; top:-30px; left:-1px; border-top:1px solid #fff; border-left:1px solid #fff; border-right:1px solid #fff; }

.infoRow { height:40px; }
.menuRow { height:40px; cursor:pointer; }
.menuRow_active { height:40px; background:black; color:white; }
.menuRow:hover { background:black; color:white; }
.menuButton { height:40px; }

/* INVENTORY */
.inventory_bag { position:relative; width:100%; height:100%; overflow-y: scroll; }
.inventory_bag div { border: 1px solid #fff; width:38px; height:38px; float:left; }
#equip_info { width:100px; height:100%; position:absolute; top:0px; left:101%; background:black; border:1px solid #fff; font-size:10px; color:white; }

.buttonMenu { line-height:40px; font-size:16px; color:white; background:grey; cursor:pointer; }

.hoverButton { cursor:pointer; }
.hoverButton:hover { background:grey; color:#000; }

.takeall_button { width:50%; position:absolute; bottom:0px; left:0px; text-align:center; }
.takethis_button { width:50%; position:absolute; bottom:0px; right:0px; text-align:center; }


#canvas { z-index:0; position: absolute; top: 0; left: 0; background:black; display:none; }

#signinButton { position: absolute; font-size: 14px; line-height:30px; top:50%; left:50%; margin-top:-12px; margin-left:-12px; cursor:pointer; }

#interface { z-index:50; display:none; }
#interface div { z-index:50; }
#messageInterface { width:100%; left:0px; top:50px; text-align:center; font-size:30px; color:red; }

#log { position: absolute; bottom: 10px; left: 10px; width: 500px; height: 130px; resize: none; font: 12.5px Tahoma, sans-serif; background: #e3f1f1; border-radius: 3px; outline: none; overflow: hidden; }

#player_HUD { bottom:20px; left:20px; z-index:120; }

.character { font-size:9px; }
.slot { background:black; width:32px; height:32px; border:1px solid #fff; }
/* NORMAL SLOT */
.item_slot { float:left; }
.item_slot img { width:32px; height:32px; }
.item_slot:hover { background:grey; }
.item_slot_selected { background:grey; float:left; }

/* EQUIP SLOT */
.item_slot_equip { float:left; }
.item_slot_equip img { width:30px; height:30px; border:1px solid white; }
.item_slot_equip:hover { background:grey; }
.item_slot_equip_selected { background:grey; float:left; }

#systemInfo { width:300px; height:150px; background:black; border:1px solid #fff; color:red; font-size:10px; position:absolute; bottom:40px; right:0px; z-index:100; }
