* { margin:0; padding:0; }
::-webkit-scrollbar { display: none; }

body { background: grey; color:white; font:11px Tahoma, sans-serif; }

.relative { position:relative; }
.absolute { position:absolute; }
.txt_center { text-align:center; }
.totale { width:100%; height:100%; }
.fullWidth { width:100%; }

/* MENU */
.interface_bar { height:40px; width:100%; bottom:0px; left:0px; }
.interface_bar_voice { width:40px; height:40px; float:left; line-height:40px; }
.interface_bar_voice:hover { width:40px; height:40px; float:left; line-height:40px; background:grey; }

.window { background:black; color:white; border:1px solid #fff; font-size:12px; }
.closeWindow { top:-30px; right:0px; margin:5px; }
.box { background:grey; overflow-y: scroll; border:1px solid #fff; }
.handle { width:100%; height:30px; line-height:30px; background:blue; color:white; top:-30px; left:-1px; border-top:1px solid #fff; border-left:1px solid #fff; border-right:1px solid #fff; }

.infoRow { height:40px; }
.menuRow { height:40px; cursor:pointer; }
.menuRow_active { height:40px; background:black; color:white; }
.menuRow:hover { background:black; color:white; }
.menuButton { height:40px; }

/* INVENTORY */
.inventory_bag { width:100%; height:100%; overflow-y: scroll; }
.inventory_bag div { border: 1px solid #fff; width:38px; height:38px; float:left; }

.buttonMenu { line-height:40px; font-size:16px; color:white; background:grey; cursor:pointer; }


#canvas { z-index:0; position: absolute; top: 0; left: 0; background:black; display:none; }

#signinButton { position: absolute; width: 300px; font-size: 14px; line-height:30px; top:50%; left:50%; margin-top:-33px; margin-left:-150px; cursor:pointer; }

#interface { z-index:50; display:none; }
#interface div { z-index:50; }

#log { position: absolute; bottom: 10px; left: 10px; width: 500px; height: 130px; resize: none; font: 12.5px Tahoma, sans-serif; background: #e3f1f1; border-radius: 3px; outline: none; overflow: hidden; }

#player_HUD { bottom:20px; left:20px; }
#player_HP { margin:5px; }
#player_ENERGY { margin:5px; }
#player_HUD span { z-index:120; }
